<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/css/styleMapa.css">
    <link rel="stylesheet" href="../dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" crossorigin="anonymous" />
    <title>TESTE NUMEROLÓGICO | SUZY YUCCA</title> 
  </head>
  <body>  
    <header>
      <a href="https://api.whatsapp.com/send?phone=5519991042481" target="_blank"><img src="../brand/logoYucca.png" style="width: 50px; height: 50px; margin-right: 5px;"></a>	
    </header>
    <div class="section form">
        <div class="outer-form">
            <div class="about-header">
              <h2 id="title-about">Mapa da Numerologia dos Chacras</h2>
            </div>
            <div class="inner-form">
                <div class="centered-column">
                    <label id="btnIniciarAudio">
                        Se o áudio não iniciar, 
                        <button id="audioButton">clique aqui</button>
                    </label>
                    <div class="centered-row">
                      <button id="btnPausar"><i class="fa fa-pause"></i>Pausar</button>
                      <button id="btnRetomar"><i class="fa fa-play"></i>Retomar</button>
                      <button id="btnReiniciar"><i class="fa fa-redo"></i>Reiniciar</button>                     
                    </div>
                </div>

                <div class="text-container">
                    <p id="textoBemVindo"></p>
                    <p id="textoNumerologico"></p>
                    <p id="textoInicio"></p>
                    <p id="textoAdd"></p>
                    <p id="textoContato"></p>
                    <button id="btnContato" onclick="entrarEmContato()">Quer saber mais? Entre em contato conosco pelo WhatsApp</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-container">
      <div class="footer-text-container">
          <p class="footer-text">Copyright © Teste Numerológico - Todos os direitos reservados</p>
          <p class="footer-text">Razão Social: SUZY YUCCA LTDA - ME | CNPJ: 14.443.950-0001-03</p>
      </div>
      <div class="footer-icons-container">
          <a href="https://api.whatsapp.com/send?phone=5519991042481&text=Olá, estava acessando o seu site do teste numerológico!" target="_blank"><img src="../brand/logoWhatsapp.png" alt="WhatsApp Logo"></a>
          <a href="https://www.facebook.com/spayucca" target="_blank"><img src="../brand/logoFB.png" alt="Facebook Logo"></a>
          <a href="https://www.instagram.com/spayucca" target="_blank"><img src="../brand/logoInstagram.png" alt="Instagram Logo"></a>
          <a href="mailto:SUZYOLIVEIRASANTOS68@GMAIL.COM"><img src="../brand/logoEmail.png" alt="Email Logo"></a>
      </div>
  </footer>
  

    <link href="../dist/css/styleMapa.css" rel="stylesheet">
    <script src="../dist/js/bootstrap.bundle.min.js"></script>
    <script src="../dist/js/scriptMapa.js"></script>
  </body>
</html>
